.playing-card {
  text-align: center;
  border: 1px solid #999;
  border-radius: 8px;
}
.playing-card.clickable {
  cursor: pointer;
}
.playing-card.clickable:hover {
  border: 1px solid #0d6dfe;
}
.playing-card.clickable.required {
  border: 1px solid #3d9dfe;
}
.playing-card.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}
